NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tuckinn_platform?schema=public
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_API_BASE_URL=http://localhost:3200/api
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3101
NEXT_PUBLIC_STAFF_APP_URL=http://localhost:3102

JWT_ACCESS_SECRET=replace-me
JWT_REFRESH_SECRET=replace-me
SESSION_SECRET=replace-me

SEED_ADMIN_EMAIL=replace-with-local-admin@example.test
SEED_ADMIN_PASSWORD=replace-with-local-dev-password

STRIPE_SECRET_KEY=replace-me
STRIPE_WEBHOOK_SECRET=replace-me
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=replace-me

AWS_REGION=eu-west-1
S3_BUCKET=tuckinn-assets
S3_ACCESS_KEY_ID=replace-me
S3_SECRET_ACCESS_KEY=replace-me
