NEXT_PUBLIC_API_BASE_URL=http://localhost:3200/api
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3101
NEXT_PUBLIC_STAFF_APP_URL=http://localhost:3102
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
API_PROXY_TARGET=http://localhost:3200
